@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Outfit", sans-serif;
    background-color: bisque;
}

main{
    margin:1rem auto ;
    padding: 40px;
    max-width: 600px;
    background-color: white;
    color: #362e2e;
    border-radius: 20px;
}
img{
    width: 38rem;
    display: flex;
    margin-inline: auto;
    border-radius: 10px;
}

h1{   
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.sec1 p{    
    margin-bottom: 20px;
}

.prepaTime{
    background-color: rgba(255, 192, 203, 0.511);
    border-radius: 10px;
    padding: 10px;
    line-height: 2rem;
}

.prepaTime h2{
    color: rgb(117, 51, 177);
}

.list{
    list-style-position: inside;
    text-indent:1em;
    
}

.prepaTime span{
    font-weight: bold;
}

.ingre{
    margin-top: 20px;
    line-height: 2rem;
}
.ingre ul li::marker, .instra ol li::marker{
    color: #803c2c;
    font-weight: bold;
}
.ingre h2, .instra h2, .nutrition h2{
    color: #803c2c;
}

hr{
    margin: 20px 0px;
}

.instra{
    line-height: 2;
}

.instra ol {
    text-align: justify;
    
}

.nutrition p{
    margin: 20px 0;
}

.nutrition table{
    width: 100%;
}

.nutrition table tr{
    margin-bottom: 10px;
}

.nutrition table {
    border-collapse: collapse;

}
.nutrition td {
    padding: 12px 8px;
    border-bottom: 1px solid #080707;
  }

  .nutrition td:last-child {
    text-align: left;
    font-weight: bold;
    color: #803c2c; /* A brownish color similar to the image */
  }
